{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Request edit</h1>
        {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edit"/>
        {{ form_end(edit_form) }}

        <p><a class="btn btn-primary" href="{{ path('request_index') }}">Back to the list</a>
            {{ form_start(delete_form) }}
        <p><input class="btn btn-danger" type="submit" value="Delete"/>
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
