{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Requests </h1>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Text</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for req in requests %}
                        <tr>
                            <td><a href="{{ path('request_show', { 'id': req.id }) }}">{{ req.id }}</a></td>
                            <td>{{ req.text }}</td>
                            <td>{{ req.category }}</td>
                            <td>{{ req.date.format('d-m-y') }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('request_show', { 'id': req.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('request_edit', { 'id': req.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('request_new') }}" role="button">Create new request</a>

            </div>
        </div>
    </div>
{% endblock %}
