{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Request creation</h1>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create"/>
        {{ form_end(form) }}

        <p><a class="btn btn-info" href="{{ path('request_index') }}">All requests</a>
    </div>
{% endblock %}
