{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Request</h1>
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ req.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ req.text }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ req.category }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ req.date.format('d-m-y') }}</td>
            </tr>
            </tbody>
        </table>

        <p><a class="btn btn-primary" href="{{ path('request_index') }}">Back to the list</a>
        <p><a class="btn btn-success" href="{{ path('request_edit', { 'id': req.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
        <p><input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
